ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid aqua;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 105px;
}

.title {
  margin-left: 100px;
}
